<%= link_to 'Create', create_path%>
<hr/>
<% if @users.count > 0 %>
  <table>
   <thead>
    <tr>
       <th>id</th>
       <th>name</th>
       <th>account</th>
       <th>password</th>
       <th>created_at</th>
       <th>刪除</th>
       <th>修改</th>
    </tr>
   </thead>
   <tbody>
   <% @users.each do |user| %>
        <tr>
           <th><%= user.id %></th>
           <th><%= user.name %></th>
           <th><%= user.account %></th>
           <th><%= user.password %></th>
           <th><%= user.created_at %></th>
           <th><%= link_to '刪除', delete_path( :id => user.id) %></th>
           <th><%= link_to '修改', update_path( :id => user.id) %></th>
        </tr>
   <% end %>
   </tbody>
  </table>
<% else %>
  <div>No any data.</div>
<% end %>
