<%= link_to '新增 職業', new_job_path %>
<hr/>

<% if @jobs.present? %>
  <table>
   <thead>
    <tr>
       <th>id</th>
       <th>name</th>
       <th>created_at</th>
       <th>show</th>
       <th>edit</th>
       <th>delete</th>
    </tr>
   </thead>
   <tbody>
   <% @jobs.each do |job| %>
        <tr>
           <th><%= job.id %></th>
           <th><%= job.name %></th>
           <th><%= job.created_at %></th>
           <th><%= link_to 'show', job_path(job) %></th>
           <th><%= link_to 'edit', edit_job_path(job) %></th>
           <th><%= link_to 'delete', job_path(job), :method => :delete%></th>
        </tr>
   <% end %>
   </tbody>
  </table>
<% else %>
  <div>No any data.</div>
<% end %>
