
<%= f.label :name, "Name" %>
<%= f.text_field :name %>
<br />
<%= f.label :account, "Account" %>
<%= f.text_field :account %>
<br />
<%= f.label :password, "Password" %>
<%= f.password_field :password %>

<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>
