<%= link_to '新增', new_user_path %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>

<table>
  <tr>
    <td>編號</td>
    <td>名稱</td>
    <td>帳號</td>
    <td>密碼</td>
    <td>檢視</td>
    <td>編輯</td>
    <td>刪除</td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.account %></td>
      <td><%= user.password %></td>
      <td><%= link_to '內容', user_path(user) %></td>
      <td><%= link_to '編輯', edit_user_path(user) %></td>
      <td><%= link_to 'delete', user_path(user), :method => :delete%></td>
    </tr>
  <% end %>
</table>